/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 600px;
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 30px 30px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-pic {
    width: 350px;
    height: 505px;
    padding-bottom: 0px;
    margin-top: 65px;
    padding-bottom: 0px;

}

.banner-tittle {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
}

.btn {
    color: #FFF;
    font-size: 20px;
    padding: 15px 40px;
    background: #E55473;
    border-radius: 6px;
    border: none;
    margin-top: 25px;
}

.feature-container1 {
    text-align: center;
    margin-top: 50px;
    padding: 50px;
}


.feature-tittle {
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 400;

}

.box-1-bg {
    background: rgba(167, 33, 98, 0.15);
    width: 364px;
    height: 438px;
    border-radius: 200px 200px 0px 0px;
    margin-right: 20px;
   
}

.box-2-bg {
    background: rgba(5, 151, 160, 0.15);
    width: 364px;
    height: 438px;
    border-radius: 200px 200px 0px 0px;
    margin-right: 20px;
}

.box-3-bg {
    background: rgba(71, 125, 17, 0.15);
    width: 364px;
    height: 438px;
    border-radius: 200px 200px 0px 0px;
}

.box-1-pic {
    width: 200px;
    height: 300px;
    margin-top: 138px;
    margin-left: 60px;

}

.feature-container {
    display: flex;
    justify-content: center;
}
#link{
    margin-left: 120px;
    color: black;
}

.sec-3 {
    width: 100%;
    height: 420px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
    border: #111010;
    
}

.banner-3-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box-tittle {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.box-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
}

.btn-box {
    margin-left: 160px;
}

.sec-3-pic {
    width: 218px;
    height: 320px;
    margin-left: 85px;
    margin-top: 40px;
}

.word-color {
    color: red;
}
.sapport{
    width: 1140px;
    height: 180px;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
display: flex;
justify-content: center;
align-items: center;
margin: auto;
padding-top: 40px;
margin-top: 100px;
}
.sapport-container{
    text-align: center;
    margin-right: 50px;
}
.sapport-text{
    color: rgba(39, 39, 39, 0.80);
}
.facebook{
    text-align: center;
    margin-top: 50px;
}
.facebook-tittle{
    color: #272727;
text-align: center;
font-size: 30px;
font-weight: 800;

}
.facebook-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 12px;
font-weight: 400;
margin-bottom: 40px;

}
.fb-cards{
    justify-content: center;
    display: flex;
}
.fb-card-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    border: #111010;
  
}
.card {
    width: 242px;
    height: 320px;
    margin-left: 15px;
}
   

.card-img {
    width: 100%;
}

.cards {
    display: flex;
    justify-content: center;
}

.insta {
    text-align: center;
    margin-top: 100px;
}

.insta-tittle {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;

}
.container{
    width: 1340px;
height: 350px;
background-image: url('../Flower Asset/Rectangle 9.png');
text-align: center;
margin-top: 150;
margin-left: 80px;
padding-top: 70px;


}
.input-tittle{
    color: #272727;
font-size: 35px;
font-weight: 800;
}
.input-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 14px;
font-weight: 400;
}
input{
    height: 47px;
    width: 350px;
    border-radius: 2px;
    padding-top: 3px;

   }
footer {
    width: 100%;
    height: 400px;
    background: #111010;
}

.footer-tittle {
    color: #E55473;
    font-size: 40px;
    font-style: normal;
}

.ft-color {
    color: white;
}

.ft-desfcription {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
}

#copy {
    color: rgba(255, 255, 255, 0.40);
    font-size: 12px;
    font-weight: 400;
}

.footer-container {
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}